<a href="https://colab.research.google.com/github/sidsharma1210/Tuple_and_Set_Practice_Questions/blob/main/python_sets_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [4]:
data = [10, 20, 20, 30, 40, 40]
set1 = set(data)
print(set1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [1]:
s = {1, 2, 3, 3, 2}
print(s)    # because s is set here and this deletes repetations

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [6]:
s = set()
for i in range(1,6):
  s.add(i)
print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [7]:
s = {}
s.add(10)       #gives error because s is dictionary

AttributeError: 'dict' object has no attribute 'add'

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [8]:
A = {2, 4, 6, 8}
B = {4, 8, 12}
print(A|B)
print(A&B)
print(A-B)

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [9]:
s = {5, 10, 15, 20}
if 15 in s:
  print("15 exists in the set")
else :
  print("15 does not exist in the set")

15 exists in the set

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [12]:
s ={10, 20, 30, 40}
if 30 in s:
  s.remove(30)
  print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [16]:
nums = [1, 2, 2, 3, 4, 4, 5]
s = set(nums)
print(len(s))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [17]:
s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [18]:
s = {1, 2, [3, 4]}
print(s)      #set doesn't contain list

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [20]:
 s = {100, 200, 300}
 l = sorted(list(s))
 print(l[0])

100

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [23]:
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
a= len(class_A|class_B)
print(a)

5

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [24]:
text = 'programming'
s = set(text)
print(s)

{'g', 'm', 'o', 'i', 'r', 'n', 'a', 'p'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [28]:
sentence = 'python is easy and python is powerful'
sentence_1 = sentence.split()
print(sentence_1)
s = set(sentence_1)
print(s)

['python', 'is', 'easy', 'and', 'python', 'is', 'powerful']
{'and', 'python', 'easy', 'is', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [29]:
s = set('hello')
print(s)  # because set function breaks the strings in letters

{'o', 'h', 'e', 'l'}