<a href="https://colab.research.google.com/github/sidsharma1210/PYTHON/blob/main/Tuple_and_Set_Practice_Questions_Only.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [ ]:
integers = (1, 2, 3, 4, 5)
print(integers)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [ ]:
a = (1, 2.0, 'sid', True)
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2.0
sid
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [ ]:
a = (1, 2.0, 'sid', True)
print("length of a is",len(a))

length of a is 4

### Question 4
Access and print the last element of a tuple.

In [ ]:
a = (1, 2.0, 'sid', True)
print("last element of tuple is",a[-1])

last element of tuple is True

### Question 5
Check whether an element exists in a tuple or not.

In [ ]:
a = (1, 2.0, 'sid', True)
print("Is sid in tuple a :",'sid' in a)

Is sid in tuple a : True

### Question 6
Convert a tuple into a list.

In [ ]:
a = (1, 2.0, 'sid', True)
print(list(a))

[1, 2.0, 'sid', True]

### Question 7
Convert a list into a tuple.

In [ ]:
a= [1, 2.0, 'sid', True]
print(tuple(a))

(1, 2.0, 'sid', True)


### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [ ]:
a= ("apple","banana" , "cherry" , "apple", "cherry")
s = []
for i in a:
  if i not in s:
    print(f"elements of {i} is:",a.count(i))
    s.append(i)

elements of apple is: 2
elements of banana is: 1
elements of cherry is: 2

  ### Question 9
Find the index of an element in a tuple.

In [ ]:
a= [1, 2.0, 'sid', True]
print("index of sid in a :", a. index("sid"))

index of sid in a : 2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
a = 1 ,2,3,"sid", "akash"
a[2] = "yash"
print(a)

TypeError: 'tuple' object does not support item assignment